---
import { getI18n } from '../i18n/index';

const {currentLocale = 'es'} = Astro;
const i18n = getI18n({currentLocale}); 
---

<section class="text-xl text-left max-w-[60ch] text-pretty mx-auto my-24">
  <img class="w-32 m-auto" src="/logo.svg" alt="Logo de coffee land" />

  <h1
    class="test-4xl font-semibold text-center text-wrap mx-auto mt-10 mb-10 tracking-wide"
  >
   {i18n.INTRO_TITLE}<br />{i18n.INTRO_TITLE_AFTER_BR}
  </h1>

  <p set:html={i18n.INTRO_TEXT_1}></p>
  <p set:html={i18n.INTRO_TEXT_2}></p>
  <p set:html={i18n.INTRO_TEXT_3}></p>
</section>
